<header class="layout__header">
    <nav class="navigation">
        <ul>
            <li><a class="link" href="/">Главная</a></li>
            <li><a class="link" href="/create">Играть</a></li>
            <li><a class="link" href="/leaders">Рейтинг</a></li>
        </ul>
    </nav>
</header>