<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web card project</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
{{> header}}

<body class="layout">
{{{body}}}
</body>

</html>