<div class="block__content">
    <div class="block" onclick="location.href='/levels'">Выбор уровня</div>
    <div class="block" onclick="location.href='/create'">Создать свою игру</div>
    <div class="block">Случайная игра</div>
</div>