<div class="block__content">
    <div class="block"><a class="link" href="/levels">Выбор уровня</a></div>
    <div class="block"><a class="link" href="/create">Создать свою игру</a></div>
    <div class="block">Случайная игра</div>
</div>