<table class="leaderboard">
    <thead>
    <tr>
        <th scope="col">Имя</th>
        <th scope="col">Баллы</th>
        <th scope="col">Время</th>
        <th scope="col">Дата</th>
    </tr>
    </thead>
    <tbody>
    {{#each leaderboard}}
        <tr>
            <td>{{name}}</td>
            <td>{{score}}</td>
            <td>{{time}}</td>
            <td>{{to_char}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>