<form action="/game" method="get">
    <label>
        Ширина
        <input name="w" id="form__width" type="range" min="2" max="10" value="6" step="2" oninput="level1.value = w.valueAsNumber">
        <output for="form__width" name="level1">6</output>
    </label>
    <label>
        Высота
        <input name="h" id="form__height" type="range" min="1" max="6" value="4" step="1" oninput="level.value = h.valueAsNumber">
        <output for="form__height" name="level">4</output>
    </label>
    Выберите наборы
    <input type="checkbox" id="flags" name="flags" checked>
    <label for="flags">Флаги</label>

    <input type="checkbox" id="animals" name="animals">
    <label for="animals">Животные</label>
    <label>
        <input type="submit" value="Начать игру">
    </label>
</form>