:root {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --bg-main: #fff;
    --border: #615049;
    --text-default: #262F34;
    --text-header: Salmon;
    --text-accent: Black;
    --saved: BlanchedAlmond;
    --hover: #F8D3B0;
}

:root,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

* {
    box-sizing: border-box;
}

*:focus {
    outline: var(--text-accent) auto 5px;
}

.root {
    background-color: var(--bg-main);
}

.layout {
    /*display: grid;*/
    /*grid-template-areas:*/
    /*"h"*/
    /*"m"*/
    /*"f";*/
    /*grid-template-rows: 3rem 1fr 2rem;*/
    /*grid-template-columns: 1fr;*/
    background-color: var(--bg-main);
    color: var(--text-default);
}

.layout__header {
    display: flex;
    height: 3rem;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    box-shadow: 0 0 0 1px var(--border);
}

.navigation ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation li {
    margin: 0;
    padding: 0 10px;
    display: block;
    position: relative;
}

.navigation li + li {
    margin-left: 0.5rem;
}

.link {
    text-decoration: none;
    color: var(--text-header);
    font-weight: bold;
}

.block__content {
    display: flex;

    margin: 30px 20px;
    padding: 15px;

    text-align: center;
    color: var(--text-accent);
    font-weight: bold;

    justify-content: space-around;
}

.block__content .block {
    border: 2px solid black;
    border-radius: 15px;

    margin: 0 5px;
    padding: 40px 5px;

    width: 30%;

    background-color: var(--saved);
}

.block:hover {
    background: var(--hover);
}

div.form__field {
    padding-bottom: 5px;
}

div.form__field label {
    display: block;
    float: left;
    width: 70px;
    height: 15px;
}

svg {
    display: block;
}

.leaderboard {
    width: 100%;
    border: 0;
}

.game {
    position: relative;
    display: flex;
    justify-content: center;
}

.timer {
    position: absolute;
    left: 25px;
    top: 20px;
    color: black;
    font-size: 150%;
    font-weight: bold;
}

.score_counter {
    position: absolute;
    right: 25px;
    top: 20px;
    color: black;
    font-size: 150%;
    font-weight: bold;
}

.cards_holder {
    margin: 60px 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    align-items: center;
}

.cards_holder.pause_game {
    pointer-events: none;
}

.card {
    transform-style: preserve-3d;
    position: relative;
    cursor: pointer;
    width: 100px;
    height: 100px;
}

.card.flipped .back_card,
.card.find_match .back_card {
    transform: rotateY(180deg);
}

.card.flipped .front_card,
.card.find_match .front_card {
    transform: rotateY(360deg);
}

.card.flipped,
.card.find_match {
    pointer-events: none;
}

.graphics {
    display: none;
}

.back_card,
.front_card {
    backface-visibility: hidden;
    position: absolute;
    border-radius: 10px;
    transition: transform 400ms;
}

.back_card {
    background: darkslategray;
    z-index: 1;
}

.back_card:hover {
    background: #264646;
}

.front_card {
    transform: rotateY(180deg);
    background: orange;
}

td {
    text-align: center;
}

.levels {
    margin: 30px 20px;
    padding: 15px;

    text-align: center;
    display: flex;

    justify-content: space-around;
}

.level {
    position: relative;

    margin: 0 5px;
    padding: 20px 5px;

    width: 30%;

    border: 2px solid black;
    border-radius: 15px;
}

.levels .level:nth-child(1)
{
    border-color: darkgreen;
}

.levels .level:nth-child(2)
{
    border-color: darkorange;
}

.levels .level:nth-child(3)
{
    border-color: darkred;
}

.play_btn_label {
    height: 100%;
    width: 100%;

    position: absolute;
    border-radius: 15px;

    left: 0;
    bottom: 0;
}

.play_btn_label > input {
    visibility: hidden;
}

.play_btn_label:hover {
    background: rgba(64, 64, 64, 0.2);
}

.creation_form {
    width: 60%;
    margin: 45px auto;
    padding: 20px;

    border: 2px solid steelblue;
    border-radius: 15px;

    text-align: center;
    align-items: center;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1050;
    opacity: 0;
    pointer-events: none;
}

.modal:target {
    opacity: 1;
    pointer-events: auto;
    overflow-y: auto;
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 500px;
        margin: 30px auto;
    }
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0;
}

@media (min-width: 768px) {
    .modal-content {
        box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    }
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #eceeef;
}

.modal-title {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 1.25rem;
    font-weight: 500;
}

.close {
    float: right;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    text-decoration: none;
}

.close:focus,
.close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .75;
}

.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 15px;
    overflow: auto;
}